<!DOCTYPE html>
<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        python page
        <a href='/dayinthelifeapp/pythonlesson' id="pythonlessonButton">python lesson</a>
    <input hidden id="studentid" value='{{user.id}}'>
    </body>
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/python.js' %}"></script>
</html>
