  
<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="utf-8">
   <title>Register</title>
   <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
   <link rel="stylesheet" href="style.css">
   <link rel="stylesheet" href="css/style.css">
   <script src="script.js"></script>
 </head>
 <body>


<div class="logoBox">
 <img src="images/Dayinthelifelogo.png">
 <div class="welcome">
   <p>Register to get the inside scoop on all things Iron Yard!</p>
 </div>
</div>



 <section>
   <ul class=" containerlist input-list style-1 clearfix">
     <li>
       <input class="First" type="text" placeholder="First Name">
     </li>
     <li>
       <input class="Last focus" type="text" placeholder="Last Name">
     </li>
   </ul>
   <ul class="input-list style-1 clearfix">
     <li>
       <input class="username"type="text" placeholder="Username" class="focus">
     </li>
     <li>
       <input class="Password" type="text" placeholder="Password" class="focus">
     </li>
     <li>
       <input type="text" placeholder="Confirm Password" class="focus">
     </li>
     <li>
       <input type="text" placeholder="Email" class="focus">
     </li>
   </ul>
   <button class="button button2">Submit</button>

 </section>




 </body>
</html>






<html>
    <head>
        <title>Create User</title>
    </head>
    <body>
        <center>
        <div style="width:15%;">
            <h2>Create</h2>
        <form method="post" action="">
            {% csrf_token %}
            {{ user_form }}
            {{ student_form }}
            <br>
            <input type="submit" value="Create new user account"<br>
        </div>
        <br>
        </form>
        </center>
    </body>
</html>
