<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hackathon</title>
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="script.js"></script>
  </head>
  <body>


<div class="logoBox">
  <img src="images/Dayinthelifelogo.png">
</div>

<div class="welcome">
  <p>Welcome to The Iron Yard -- Sign in or register now to start your interactive journey through a day in the life of an Iron Yard student!</p>
</div>


  <section>
    <ul class="input-list style-1 clearfix">
      <li>
        <input class="username" type="text" placeholder="Username">
      </li>
      <li>
        <input type="text" placeholder="Password" class="focus">
      </li>
    </ul>
    <button class="button button1">Submit</button>
    <button class="button button2">Register</button>

  </section>




  </body>
</html>









<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <h2>Login</h2>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="login"/>
        </form>
    </body>
</html>
